---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/asdfjkl;
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Page Not Found","_links":{"self":{"href":"/v3.1/name/asdfjkl;","templated":false}}}'
  recorded_at: Sun, 12 Nov 2023 04:12:05 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=1753013e&app_key=94e86f33505e6fc237062131bac01666&q=&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sun, 12 Nov 2023 04:12:06 GMT
recorded_with: VCR 6.2.0
