---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Antartica
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Mon, 13 Nov 2023 18:23:24 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=a67c1376b76741048dedb61cc8ba7aa9&categories=tourism.sights&filter=circle:,1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"filter[0]\" does
        not match any of the allowed types"}'
  recorded_at: Mon, 13 Nov 2023 18:23:25 GMT
recorded_with: VCR 6.2.0
